<h1>Formulário para criar um novo usuário</h1>
<h3>Form for new User</h3>
<!--
<form accept-charset="UTF-8" method="post" action="/users">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>Username</label>
	<input type="text" name="user[username]">
	<label>E-mail</label>
	<input type="email" name="user[email]">
	<label for="userpassword">Password</label>
	<input type="password" name="user[password]">
	<input type="submit" value="Enviar">
</form>
-->
<%= render "form" %>