<h3>List of tags in the blog</h3>
<ul id="tags">
	<% @tags.each do |tag| %>
		<li>
			<%= link_to tag, tag_path(tag) %>
			<%= link_to "Delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"} %>
		</li>
	<% end %>
</ul>