html {
	font-family: 'Muli', Helvetica, Arial, sans-serif;
}

body {
	max-width: 1000px;
	margin: 0 auto;
}

.container {
	max-width: 800px;
	margin: 0 100px;
}

.blue-text {
	color: rgb(69, 202, 230);
}

/* <header> */
header {
	margin-top: 162px;
	margin-bottom: 15px;
}

.sign-log {
	float: right;
	display: inline-block;
	font-size: 15px;
}

.sign-log li {
	display: inline-block;
}

.sign-log a {
	text-decoration: none;
	color: #333;
	padding: 0 10px;
}

.signup-link {
	font-weight: bold;
	border-right: 1px solid lightgray;
	padding-right: 5px;
}

/* Formulário (<section>) */
#main {
	display: block;
	box-shadow: 1px 3px 8px rgba(0,0,0,.2);
	color: #333;
	padding: 43px 50px 50px 50px;
}

section {
	display: inline-block;
	width: 400px;
}
section a {
	text-decoration: none;
}
section a:hover {
  text-decoration: underline;
}

h1 {
	font-size: 30px;
	font-weight: 300;
	color: #333;
	line-height: 45px;
	margin: 0;
	padding-bottom: 20px;
}

#signup-form button {
	background-color: rgb(69, 202, 230);
	border: none;
	padding: 0 15px;
	height: 34px;
	font-size: 14px;
  font-weight: 400;
	line-height: 18px;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
}

fieldset {
	margin: 0 0 25px 0;
	padding: 0;
	border: 0;
	color: #333;
}
fieldset label {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}
fieldset input[type="checkbox"] {
	cursor: pointer;
  border: 1px solid #d8d8d8;
  height: 17px;
  width: 17px;
  border-radius: 3px;
  background: #fff;
}

.input {
	height: 32px;
	width: 304px;
	border-radius: 3px;
  border: 1px solid #d8d8d8;
  margin-top: 16px;
  padding: 0 6px 0 8px;
}
.open-lock {
	position: relative;
	top: 4px;
	right: 30px;
	width: 19px;
	height: 18px;
}
.remember-field {
	margin-bottom: 17px;
}
.remember {
	position: relative;
	bottom: 3px;
}
.lock {
  height: 1em;
  width: .8em;
  margin-top: 0;
  margin-right: 4px;
  vertical-align: text-top;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.phone-message {
	margin: 0;
	color: #444;
	padding: 5px 0;
	font-size: 10px;
}

.agree-text {
	font-size: 11.5px;
	line-height: 18px;
	color: #7d7f80;
}

/* Texto lado esquerdo (<aside>) */
aside {
	display: inline-block;
	float: right;
	width: 192px;
	border-left: 1px solid lightgray;
	height: 559px;
}

aside li {
	color: #a5a5a5;
	font-size: 14px;
	line-height: 20px;
	padding: 0 5px 5px 0;
	margin-bottom: 10px;
}

h3 {
	margin: 0 0 0 20px;
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: 500;
	color: #333;
}

.safe-secure {
	color: rgb(102, 102, 102);
}

/* <footer> */
footer {
	padding: 40px 0 100px 0;
	margin-top: 50px;
}
footer a {
	text-decoration: none;
}

.nav-bottom {
	margin: 0 auto;
}
.nav-bottom li {
	display: inline-block;
}
.nav-bottom a {
	text-decoration: none;
	color: rgb(165, 165, 165);
	font-size: 14px;
}

.border {
	padding: 0 27px;
	border-right: 1px solid #ccc;
}
.no-border {
	padding-left: 25px;
}

.licenses {
	color: rgb(165, 165, 165);
	font-size: 13.3px;
	line-height: 18.62px;
	text-align: center;
	padding-top: 18px;
}

.security {
	margin-top: 50px;
	position: relative;
	left: 200px;
	top: 10px;
}
.security li {
	display: inline-block;
	margin: 15px;
}

.norton {
	height: 58px;
}
.truste {
	width: 140px;
	height: 58px;
}

.intuit {
	text-align: center;
	font-size: 11px;
	color: rgb(165, 165, 165);
}